<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVUv-F47e_n9jz8tsVH0iVBHgiri3mHcY</string>
	<key>GCM_SENDER_ID</key>
	<string>159567331202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bljrFirestore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bljrfirestrore</string>
	<key>STORAGE_BUCKET</key>
	<string>bljrfirestrore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159567331202:ios:6275dc0d97db0c330bd99b</string>
</dict>
</plist>